build/
salticidae/CMakeFiles/
salticidae/cmake_install.cmake
salticidae/CMakeDoxygenDefaults.cmake
salticidae/CMakeDoxyfile.in
salticidae/CMakeCache.txt
salticidae/cmake-build-debug/
salticidae/libsalticidae.a
salticidae/src/*.swo
salticidae/src/*.swp
salticidae/include/salticidae/config.h
salticidae//Makefile
salticidae/core
salticidae/install_manifest.txt
*.a
*.o
*.la
*.lo
*.so
*.gch

